 
<!-- Forgot Password Form -->
<div class="forgot-password-container" *ngIf="showForgotPasswordForm && !showOtpModel">
    <h2>Forgot Password?</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Enter your email address. We will send an OTP to reset your password.</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="Enter your email" />
        </div>
        <button type="submit" class="submit-button">Send OTP</button>
    </form>
</div>
 
<!-- Reset Password Form -->
<div class="otp-password-reset-container" *ngIf="showOtpModel">
    <h2>Reset Your Password</h2>
    <form #resetForm="ngForm" (ngSubmit)="onSubmit2()" novalidate>
        <!-- Email Field -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" readonly class="email-input" />
        </div>
 
        <!-- OTP Field -->
        <div class="form-group">
            <label for="otp">Enter OTP</label>
            <input type="text" id="otp" placeholder="Enter your OTP" [(ngModel)]="otp" name="otp" maxlength="6" required />
        </div>
 
        <!-- New Password Field -->
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required minlength="8"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*]).{8,20}$"
                placeholder="Enter new password" />
        </div>
 
        <button type="submit" [disabled]="resetForm.invalid">Reset Password</button>
    </form>
</div>
 
 