<div class="forgot-password-container">
    <h2>Forgot Password?</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Enter your email address. We will send an OTP to reset your password.</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
          placeholder="Enter your email"
        />
      </div>
 
      <button type="submit" class="submit-button">Send OTP</button>
    </form>
  </div>
 
 