<div class="job-container">
  <div class="job-cards">
    <div *ngFor="let job of filteredJobs; let i = index" class="job-card2">
      <div class="job-card" [ngStyle]="{ 'background-color': job.bgcolor }">
        <div class="job-header">
          <span class="job-date">{{ formatPostedDate(job.createdAt) }}</span>
          <svg width="20" height="20" viewBox="0 0 24 24" fill="#452758" stroke="#452758" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="company-logo" (click)="unsave(job)">
            <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
          </svg>
        </div>
        <h3 class="job-title" [title]="(job.jobTitle)">{{
          (job.jobTitle).length>22?(job.jobTitle).slice(0,19)+'...':(job.jobTitle) }}</h3>
        <p class="job-company" [title]="(job.jobAdminCompanyName + ',' +job.location)">{{
          (job.jobAdmin.jobAdminCompanyName + ',' +job.location).length>30?(job.jobAdmin.jobAdminCompanyName +
          ',' +job.location).slice(0,27)+'...':(job.jobAdmin.jobAdminCompanyName + ',' +job.location) }}</p>
        <div class="job-tags">
          <span *ngFor="let tag of getDisplayedSkills(job)" class="job-tag" [title]="tag">{{ tag.length>=7?tag.slice(0,7)+'...':tag }}</span>
          <span class="view-more-text" *ngIf="job.requiredSkills && job.requiredSkills.length > 32"
            (click)="toggleSkills(job)" class="job-tag">
            {{ job.showAllSkills ? 'View Less' : 'View More' }}
          </span>
        </div>
      </div>
      <div class="Details">
        <p class="job-salary">{{ job.maxSalary | currency:'INR':'symbol' }}</p>
        <p class="job-location">{{ job.requiredWorkExperience }}+ Experiance Required</p>
        <p class="job-location" *ngIf="job.appliedCount">{{ job.appliedCount }}+ Applicants</p>
        <button class="details-btn" (click)="viewJob(job.id)">Details</button>
      </div>
    </div>
  </div>
</div>