.otp-password-reset-container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-image:linear-gradient(to right, #c0fdd5, #778dfc);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #f9f9f9; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
  }
   
  .otp-password-reset-container h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
   
  .form-group {
    margin-bottom: 20px;
  }
   
  .form-group label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
    font-family: 'Arial', sans-serif;
  }
   
  .form-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
   
  .form-group input:focus {
    outline: none;
    border-color: #5d9bfb;
    box-shadow: 0 0 5px rgba(93, 155, 251, 0.5);
  }
   
  button {
    width: 100%;
    padding: 12px;
    background-color: #5d9bfb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
   
  button:hover {
    background-color: #4a85d1;
  }
   
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
   
  
  .error {
    color: red;
    margin-top: 8px;
    font-size: 0.9rem;
    font-family: 'Arial', sans-serif;


  }
   
   
  input.invalid {
    border-color: red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  }
   
  .otp-input-container {
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }
   
  .otp-input {
    width: 200px;
    height: 50px;
    text-align:left;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
   
  .otp-input:focus {
    outline: none;
    border-color: #007bff;
  }
   
 
   
  /* Mobile responsiveness */
  @media screen and (max-width: 600px) {
    .otp-password-reset-container {
        padding: 20px;
    }
   
    .submit-button {
        font-size: 16px;
        padding: 12px;
    }
  }
   
  h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma, Verdana, Geneva, sans-serif;
  }
   
  p {
    font-family: Cambria, Georgia, "Times New Roman", serif;
  }
   
   