/* Custom Scrollbar */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #287fb4 #f0f4f8; /* Thumb and track color */
}
 
/* Webkit (Chrome, Safari, newer versions of Opera) */
*::-webkit-scrollbar {
  width: 6px; /* Thinner scrollbar */
}
 
*::-webkit-scrollbar-track {
  background: #f0f4f8; /* Light background */
}
 
*::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Blue color */
  border-radius: 3px; /* Rounded corners */
}
 
*::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; /* Slightly darker on hover */
}
 
 
/* General Layout */
.Grid1 {
  display: grid;
  grid-template-columns: 2fr 0.7fr;
  gap: 15px;
  padding: 15px;
  background-color: #f0f4f8;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}
 
.Grid2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 15px;
  background-color: #f0f4f8;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}
 
/* Column Styling */
.column {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  overflow-y: auto;
}
 
/* Filter Column Styling */
.filter-title {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}
 
.filter-section {
  margin-bottom: 15px;
}
 
.filter-section h4 {
  color:#f39c12;
  margin-bottom: 8px;
  font-weight: semibold;
  font-size: 20px;
}
 
.filter-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #feffff;
  transition: all 0.3s ease;
  font-size: 12px;
}
 
 
.filter-select:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}
 
.reset-filters-button {
  width: 100%;
  padding: 10px;
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 15px;
}
 
.reset-filters-button:hover {
  background-color: #e9b10b;
  transform: translateY(-2px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
 
/* Options Styling */
.options {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}
 
.options button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #ecf0f1;
  color: #2c3e50;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-weight: bold;
}
 
.options button.active {
  background-color: #452758;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
 
.options button:hover {
  background-color: #452758a0;
  transform: translateY(-2px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}
 
/* Search Bar */
.search-bar {
  margin-bottom: 10px;
  margin-left: 18px;
 
}
 
.search-bar input {
  width: 96%;
  padding: 12px;
  border: 2px solid #bdc3c7;
  border-radius: 7px;
  transition: all 0.3s ease;
  border-color: #3498db;
  background-color: #eef6fc;
}
 
.search-bar input:focus {
  outline: none;
  /* border-color: #3498db;
  background-color: #eef6fc; */
 
}
 
.search-bar input::placeholder {
  color: #2980b9; /* Slightly darker blue on focus */
  opacity: 1.8;
}
 
 
/* Mentor List */
.mentor-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}
 
.mentor-card {
  background-color:   #f3f8ff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
 
.mentor-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
 
.mentor-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
  border: 5px solid #c8db34;
}
 
.mentor-details {
  margin-bottom: 15px;
  text-align: center;
}
 
.mentor-name {
  font-weight: bold;
  color: #2c3e50;
  font-size: 1.1em;
  margin-bottom: 5px;
}
 
.mentor-subject {
  color: #7f8c8d;
  margin-bottom: 10px;
}
 
.mentor-stats {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 3px;
}
 
.mentor-rate, .mentor-rating {
  font-size: 0.9em;
  color: #2c3e50;
  display: flex;
  align-items: center;
}
 
.mentor-rate::before {
  content: '$';
  margin-right: 2px;
}
 
.mentor-rating::before {
  content: '⭐';
  margin-right: 5px;
}
 
.hire-button {
  padding: 10px 20px;
  border: none;
  background-color: #452758;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-weight: bold;
}
 
.hire-button:hover {
  background-color: #452758e0;
  transform: translateY(-2px);
}
 
/* Mentor Info Column */
.mentor-info {
  position: relative;
  text-align: center;
  padding: 5px;
  width: 90%;
}
 
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px;
}
 
.close-button:hover {
  background: #c0392b;
  transform: rotate(90deg);
}
 
.mentor-info-image {
  width: 180px;
  height: 180px;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-top: 50px;
  object-fit: cover;
  border:  5px solid #452758;
}
 
.mentor-info-details {
  text-align: left;
  margin-bottom: 15px;
  width: 100%;
  flex-wrap: wrap;
}

 
.mentor-info-subject {
  color: #333333;
  margin-top: 7px;
}
 
.mentor-info-lang,
.mentor-info-exp,
.mentor-info-site,
.mentor-info-desc {
  color: #146ac1;
  margin-top: 3px;
 
}
 
.mentor-rate-rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: larger;
  background-color: #f1f4f8;
  padding: 2px;
  border-radius: 5px;
}
 
.mentor-rating-detail{
  padding-bottom: 2px;
 
}
 
.mentor-rate-detail{
  padding-top: 4px;
}
 
.mentor-info-name{
  color: #061c32;
  margin-top: 1px;
}
 
.mentor-info-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
}
 
.action-button {
  padding: 8px 10px;
  border: none;
  background-color: #452758;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  font-size: 12px;
}
 
.action-button:hover {
  background-color:  #452758e0;
  transform: translateY(-3px);
}
 
/* Responsive Adjustments */
@media (max-width: 768px) {
  .Grid1, .Grid2 {
    grid-template-columns: 1fr;
    height: auto;
  }
}
 
 
 
 
.course-tabs-container {
  width: 100%;
  text-align: center;
}

.course-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.course-tab {
  padding: 10px 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.course-tab p{
  margin-bottom: 0;
}

.course-tab:hover {
  background-color: #ddd;
}

.course-tab.course-active {
  background-color: #007bff;
  color: white;
}

.course-tab-content {
  font-size: 8px;
  font-weight: bold;
  color: #333;
}


.loader {
  margin: 20% 0 0 50%;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #452758e0;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.loader-2{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loader-2 p{
  margin: 20px 0 0 50px;
}